modules = ["python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "JagoVideo Clone Bot"

[[workflows.workflow]]
name = "JagoVideo Clone Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uv run bot.py"

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
FAL_KEY = "2a7f9630-ccfc-4edd-adc5-a07d772bdecb:5c2e2132bb76b4bdd3b3d335932d0569"
